<h1 class="page-title">Credits</h1>
<div class="credits-list">
    <app-credit credit="Designer" name="Davide Rivolta" />
    <app-credit credit="Developer" name="Davide Rivolta" />
    <app-credit credit="UI inspired by" name="Returnal videogame" />
    <app-credit credit="Logo inspired by" name="Firewatch videogame" />
    <app-credit credit="Tech stack" name="TypeScript" />
    <app-credit credit="" name="Angular 17" />
    <app-credit credit="" name="Three.js" />
    <app-credit credit="" name="Firebase" />
    <app-credit credit="Background music" name="Gloomy (Prod. by MX Audio Library)" />
    <app-credit credit="Sounds" name="Pixabay" />
</div>