<img src="../../../assets/images/logo.svg" alt="logo" class="logo">
<nav class="main-menu">
    <ul>
        <li><a href="https://github.com/sp1lu" target="_blank">Github</a></li>
        <li><a href="https://dribbble.com/spilu" target="_blank">Dribble</a></li>
        <li><a href="https://www.behance.net/spilu" target="_blank">Behance</a></li>
        <li><a href="https://www.linkedin.com/in/davide-rivolta/" target="_blank">Linkedin</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/credits">Credits</a></li>
    </ul>
</nav>